@charset "UTF-8";

        /*declarações gerais*/
        *{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #FFF353;
    font-family: Arial, Helvetica, sans-serif;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #F27781;
    text-shadow: 2px 2px 0px #D94141;
    padding: 10px;
}
/*declarações retrato */
@media screen and (orientation: portrait) {
body {
    background-image: url(../imagens/akane003.jpg);
}
}
/*declarações paisagem */
@media screen and (orientation: landscape){
body {
    background-image: url(../imagens/ranma.jpeg);
}
}