@charset "UTF-8";

/* Telas menores que 1280px de largura */
@media (max-width: 1280px) {
    .book {
        width: 60vw;
        height: 78vh;
    }
}

/* Telas baixas tipo 1280x600 */
@media (max-height: 700px) {
    .book {
        width: 55vw;
        height: 85vh;
    }

    .page {
        padding: 0.5em;
        font-size: 0.8em;
    }

    h1, h2 {
        font-size: 1.2em;
    }
}

/* Telas realmente pequenas */
@media (max-height: 600px) {
    .book {
        width: 50vw;
        height: 90vh; /* usa quase toda a altura, sem cortar */
    }
}