@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

body{
    font-family: "Imperial Script", cursive;
    font-size: 1em;
    background-color: rgb(62, 62, 62);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div > h2 {
    text-align: left;
    font-size: 2em;
}



#back h2 {
    margin-bottom: 10px;
}

p {
    font-size: 2.3em;
}

#back {
    font-size: 0.8em;
    margin: 0px;
    padding: 2px;
}

mark{
    background-color: black;
    user-select: none;      /* impede selecionar o texto */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
      user-select: none;
    pointer-events: none;  /* impede interação total */
}

mark::selection {
    background: transparent;
    color: transparent;
}

h1 {
    text-align: center;
    font-size: 4em;
    padding-top: 30%;
    color: aliceblue;
    text-shadow: 1px 1px 5px black;
}

.book {
    width: 55vw;
    height: 75vh;
    max-width: 700px;
    max-height: 900px;
    position: relative;
    perspective: 1500px;
    transition: transform 800ms cubic-bezier(.2,.9,.3,1), box-shadow 800ms ease;
    transform-origin: center center;
    filter: drop-shadow(0px 25px 35px rgba(0,0,0,0.45));
}

.book.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(calc(45% - 150px), -50%) scale(1.45);
    width: 700px;
    height: 900px;
    z-index: 9999;
    transition: transform 0.8s ease;
}


.book.fullscreen-fill {
    position: fixed;
    top: 0;
    left: 0;
    transform: none !important;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: width 0.6s ease, height 0.6s ease;
    transform: scale(2.35) translateY(-30px);
}

.book.fullscreen::before {
    content:"";
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: -1;
    pointer-events: none;
}

input {
    display: none;
}

.cover, .back-cover {
    background-image: url(cover-book2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    box-shadow:  0px 12px 12px rgb(0 0 10 / 27%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover {
    position: absolute;
    z-index: 5;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cover label {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.back-cover {
    position: relative;
    z-index: 0;
}

.cover-front, .cover-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0 15px 15px 0;
}

.cover-front {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-front::after {
    content: "";
    position: absolute;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    inset: 0;
    background: linear-gradient(
        120deg,
         rgba(255, 255, 255, 0.683) 0%,
        rgba(146, 214, 241, 0.589) 30%,
        rgba(103, 158, 209, 0.961) 60%,
        transparent 100%
    );
    transform: rotate(25deg);
    opacity: 0;
     pointer-events: none;
    mix-blend-mode: screen;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
}

.cover-front::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.836),
        transparent 40%,
        transparent 60%,
        rgba(255, 255, 255, 0.797)
    );
    opacity: 0;
     pointer-events: none;
    transition: opacity 0.6s ease-in-out;
    mix-blend-mode: screen;
}

.cover-front:hover::after {
    animation: shineHover 1.6s ease-in-out;
    opacity: 1;
}

.cover-front:hover::before {
    opacity: 1;
}

@keyframes shineHover {
    0% {
        transform: translate(-40%, -40%) rotate(25deg);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        transform: translate(40%, 40%) rotate(25deg);
        opacity: 0.8;
    }
    75% {
        opacity: 1;
    }
    100% {
        transform: translate(90%, 90%) rotate(25deg);
        opacity: 0;
    }
}

.cover-back {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.cover-back label{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.cover-front {
    z-index: 3;
}

.cover-back {
    z-index: 4;
}



.page {
    z-index: 1;
    position: absolute;
    background-color: beige;
    width: 53vw;
    height: 73vh;
    max-width: 680px;
    max-height: 880px;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition-duration: 1.5s;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.30);
}


.front-page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1em;
}

.back-page {
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.30);
}

.cover, .page {
    transition: box-shadow 0.4s ease;
}

.cover:hover, .page:hover {
    box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.35);
    transform-style: preserve-3d;
}

.cover::after, .page::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.25), transparent 60%);
    opacity: 0;
    transition: opacity .6s ease;
    pointer-events: none;
}

.cover:hover::after,
.page:hover::after {
    opacity: 1;
}

.next{
    position: absolute;
    bottom: 1em;
    cursor: pointer;
}

.prev{
    position: absolute;
    bottom: 1em;
    cursor: pointer;
}

.next{
    right: 1em;
}

.prev{
    left: 1em;
}

#page1 {
    z-index: 4;
}

#page2 {
    z-index: 3;
}

#page3 {
    z-index: 2;
}

#page4 {
    z-index: 1;
}

#checkbox-cover:checked ~ .book:not(.fullscreen) {
    transform: translateX(200px);
    transition-duration: .8s;
}

#checkbox-cover:checked ~ .book .cover {
    transition: transform 1.5s;
    transform: rotateY(-180deg);
    z-index: 1;
}

#checkbox-cover:checked ~ .book .page {
    box-shadow: 0 0 3px rgb(99,98,98);
}

#checkbox-page1:checked ~ .book #page1 {
    transform: rotateY(-180deg);
    z-index: 2;
}

#checkbox-page2:checked ~ .book #page2 {
    transform: rotateY(-180deg);
    z-index: 3;
}

#checkbox-page3:checked ~ .book #page3 {
    transform: rotateY(-180deg);
    z-index: 4;
}

#checkbox-page4:checked ~ .book #page4 {
    transform: rotateY(-180deg);
    z-index: 5;
}