 @charset "UTF-8";
 
 body {
            background-color: rgb(240, 157, 175);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1{
            color: rgb(131, 28, 59);
            background-color: rgb(245, 220, 228);
        }

        h2{
            color: rgb(73, 18, 18);
        }
        
        p{
            text-align: justify;
        }