@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    height: 100%;
    background-image: linear-gradient(to right,#1DCAE0,#36A7B6);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2b32339f;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #41838B;
    text-align: center;
    text-shadow: 1px 1px 2px #2b32339f;
}

h2{
    color: #3D5D61;
}

p{
    text-align: justify;
}